# Tarefa 02 Módulo 05

O nosso projeto desta sequência de módulos do curso será um aprofundamento da demonstração sobre classificação de risco de crédito que vimos lá no comecinho. Pois recebemos uma base já montada pra nós. Tenha certeza de que ela passou por um longo processamento até ficar daquele jeito. Neste exercício vamos exercitar o que aprendemos nas ultimas aulas e montar a variável resposta da base do nosso projeto.

#### Marcação de bom e mau
O objetivo da modelagem é classificar o risco de inadimplência, ou como se diz no meio, o risco de *default*. Podemos fazer longas discussões sobre o conceito de *default* com base em estudos e exigências regulatórias, para efeitos deste estudo, um cliente em *default* é aquele que está em 60 dias de atraso ou mais. Então classificaremos os clientes como 'bons' e 'maus' assim:
- **Maus** pagadores: são aqueles que entraram em 'default' (atraso 60 dias ou mais) nos 24 meses seguintes à aquisição do cartão de crédito.
- **Bons** pagadores: são considerados todos os demais.
- **Excluídos**: Clientes que não adquiriram um cartão de crédito (seja por recusa, seja por desistência) não possuem informações de pagamento, portanto não se pode identificar se são bons ou maus. Há uma longa discussão e literatura sobre *inferência de rejeitados* que está fora do escopo deste exercício.

#### Bases disponíveis
Temos duas bases importantes aqui: uma de propostas, com diversas informações dos vários solicitantes de cartão de crédito, e uma base de pagamentos. A base de pagamentos será utilizada para identificar a ocorrência de *default*. A base de propostas tem diversas informações coletadas no momento da solicitação do crédito (isto é importante: qualquer informação posterior a essa data é impossível de ser coletada na aplicação do modelo e não pode ser utilizada).

As variáveis delas são:

Base de propostas - application_records.csv

| Nome da Variável         | Description                                         | Tipo  |
| ------------------------ |:---------------------------------------------------:| -----:|
| ID| identificador do cliente (chave) |inteiro|
| CODE_GENDER| M = 'Masculino'; F = 'Feminino' |M/F|
| FLAG_OWN_CAR| Y = 'possui'; N = 'não possui' |Y/N|
| FLAG_OWN_REALTY| Y = 'possui'; N = 'não possui' |Y/N|
| CNT_CHILDREN| Quantidade de filhos |inteiro|
| AMT_INCOME_TOTAL| Annual income |inteiro|
| NAME_INCOME_TYPE|Tipo de renda (ex: assaliariado, autônomo etc) | texto |
| NAME_EDUCATION_TYPE| Nível de educação (ex: secundário, superior etc) |texto|
| NAME_FAMILY_STATUS | Estado civil (ex: solteiro, casado etc)| texto |
| NAME_HOUSING_TYPE | tipo de residência (ex: casa/apartamento, com os pais etc) | texto |
| DAYS_BIRTH | Count backwards from current day (0), -1 means yesterday |inteiro|
| DAYS_EMPLOYED | Count backwards from current day (0), -1 means yesterday |inteiro|
| FLAG_MOBIL | Indica se possui celular (1 = sim, 0 = não) |binária|
| FLAG_WORK_PHONE | Indica se possui telefone comercial (1 = sim, 0 = não) |binária|
| FLAG_PHONE | Indica se possui telefone (1 = sim, 0 = não) |binária|
| FLAG_EMAIL | Indica se possui e-mail (1 = sim, 0 = não) |binária|
| OCCUPATION_TYPE | Occupation	 |Qualitativa|
| CNT_FAM_MEMBERS | quantidade de pessoas na residência |inteiro|

Base de pagamentos - pagamentos_largo.csv  

| Nome da Variável         | Description                                         | Tipo  |
| ------------------------ |:---------------------------------------------------:| -----:|
| ID| identificador do cliente (chave) |inteiro|
| mes_00 a mes_24| faixa de atraso mês a mês do cliente <br>0: 1-29 days past due &nbsp;&nbsp;&nbsp;&nbsp; 1: 30-59 days past due <br />2: 60-89 days overdue &nbsp;&nbsp;&nbsp;&nbsp; 3: 90-119 days overdue <br /> 4: 120-149 days overdue &nbsp;&nbsp;&nbsp;&nbsp; 5: more than 150 days <br />C: paid off that month &nbsp;&nbsp;&nbsp;&nbsp; X: No loan for the month |Qualitativa|

#### Construindo a variável resposta
A base de pagamentos está em um formato de 'base larga'. Essa base possui informações de pagamentos do cliente mês a mês a partir do mês de aquisição do crédito (mês 0) até o vigésimo quarto mês após a aquisição do crédito (mês 24). Utilizaremos essa base para determinar se um proponente é considerado 'bom pagador' ou caso apresente atraso representativo, será considerado 'mau pagador'.

#### Base larga vs base longa
A base ser larga significa que há uma linha para cada cliente, e que as informações estarão nas colunas, em contraste com a 'base longa', em que haveria uma linha para cada combinação cliente/mês, uma coluna indicando o cliente, outra indicando o mês, e apenas uma coluna com a informação do atraso.

#### Tarefa 1) Marcar *default* no mês
Faça uma indicadora de se o cliente está em *default* em cada uma das marcações (mes_00 a mes_24). Dica: você pode utilizar o método ```.isin()``` do Pandas. Consulte a [documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html) caso necessário.

#### Tarefa 2) 'bons' e 'maus' ao longo de todos os 24 meses de desempenho
Marque para cada cliente se ele teve pelo menos um episódio de *default* entre o mês 0 e o mês 24. Dica: o método ```sum()``` pode ajudar. Caso precise, consulte a [documentação](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html) e procure pelo argumento ```axis```, você viu outros métodos que possuem esse argumento também. Tendo o número de meses em default de cada cliente, basta marcar ```True``` para todos aqueles que possuem pelo menos 1 mês em *default* e ```False``` para os demais.

#### Tarefa 3) Marcando proponentes expostos ao risco de crédito
Marcando proponentes que se tornaram tomadores: lembre-se de que clientes que não adquiriram o cartão devem ser desconsiderados. A base de pagamentos possui apenas clientes que adquiriram cartão de crédito, então você pode selecionar somente os clientes da base de propostas que se encontram na base de pagamentos.

#### Tarefa 4) Consolidando as informações
Faça uma junção das informações da base de propostas com a variável de *default* que você acabou de construir. Talvez você consiga realizar a tarefa 3 e tarefa 4 em uma única linha de código ;)

#### Tarefa 5) Verificando
Faça uma contagem dos valores do *default* que você construiu.

In [1]:
import pandas as pd

In [2]:
propostas = pd.read_csv('/content/application_record.csv')
pg = pd.read_csv('/content/pagamentos_largo.csv')

In [3]:
pg.head()

,ID,mes_0,mes_1,mes_10,mes_11,mes_12,mes_13,mes_14,mes_15,mes_16,...,mes_22,mes_23,mes_24,mes_3,mes_4,mes_5,mes_6,mes_7,mes_8,mes_9
0,5001718,0,0,0,0,0,0,0,0,NaN,...,NaN,0,NaN,0,0,0,0,NaN,0,NaN
1,5001719,0,0,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
2,5001720,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,5001723,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,NaN,NaN
4,5001726,0,0,C,C,C,C,C,C,C,...,C,C,C,0,0,0,C,C,C,C

In [4]:
# No nosso dataframe pg temos as 24 colunas referentes aos meses de cada cliente para analisarmos a inadimplência

print(pg.columns)

# Tipos de nossas colunas

print(pg.dtypes)

# Percebemos que todas as colunas estão como object.
# Tambem temos valores faltantes e isso pode interferir no tipo de dado da coluna

Index(['ID', 'mes_0', 'mes_1', 'mes_10', 'mes_11', 'mes_12', 'mes_13',
       'mes_14', 'mes_15', 'mes_16', 'mes_17', 'mes_18', 'mes_19', 'mes_2',
       'mes_20', 'mes_21', 'mes_22', 'mes_23', 'mes_24', 'mes_3', 'mes_4',
       'mes_5', 'mes_6', 'mes_7', 'mes_8', 'mes_9'],
      dtype='object')
ID         int64
mes_0     object
mes_1     object
mes_10    object
mes_11    object
mes_12    object
mes_13    object
mes_14    object
mes_15    object
mes_16    object
mes_17    object
mes_18    object
mes_19    object
mes_2     object
mes_20    object
mes_21    object
mes_22    object
mes_23    object
mes_24    object
mes_3     object
mes_4     object
mes_5     object
mes_6     object
mes_7     object
mes_8     object
mes_9     object
dtype: object

In [5]:
# Vamos dar uma olhada no dataframe propostas

propostas.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005.0,-4542.0,1.0,1.0,0.0,0.0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005.0,-4542.0,1.0,1.0,0.0,0.0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474.0,-1134.0,1.0,0.0,0.0,0.0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110.0,-3051.0,1.0,0.0,1.0,1.0,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110.0,-3051.0,1.0,0.0,1.0,1.0,Sales staff,1.0

**Os valores que temos como legendas são os seguintes:**

---
<font color="red"> A partir de 60 dias está inadimplente</font>

Nesse caso temos as legendas 2, 3, 4 e 5

mes_00 a mes_24	faixa de atraso mês a mês do cliente

0: 1-29 days past due  

1: 30-59 days past due

2: 60-89 days overdue

3: 90-119 days overdue

4: 120-149 days overdue

5: more than 150 days

C: paid off that month     

X: No loan for the month

In [6]:
# Vamos saber as porcentagens de cada valor que temos no dataframa pg para que eu possa determinar uma forma de preenchimento que não afete o resultado

print(pg['mes_0'].value_counts())
print(pg['mes_1'].value_counts())
print(pg['mes_3'].value_counts())
print(pg['mes_20'].value_counts())
print(pg['mes_24'].value_counts())

0    20302
C      550
1       78
4        2
5        2
2        2
3        1
Name: mes_0, dtype: int64
0    17884
C      982
1      332
2       11
5        6
4        1
Name: mes_1, dtype: int64
0    16146
C     2293
1      427
2       36
3       11
5        8
4        4
Name: mes_3, dtype: int64
C    11265
0     3751
1      111
5       42
2       11
3        2
4        2
Name: mes_20, dtype: int64
C    11657
0     2623
1       92
5       43
2       10
4        5
3        3
Name: mes_24, dtype: int64

In [7]:
# Vemos que as porcentagem estão concetradas nos valores 0 em sua maioria., então, não é tão ruim se substituirmos os dados faltantes por 0

pg = pg.fillna('0')

pg.isnull().sum()

ID        0
mes_0     0
mes_1     0
mes_10    0
mes_11    0
mes_12    0
mes_13    0
mes_14    0
mes_15    0
mes_16    0
mes_17    0
mes_18    0
mes_19    0
mes_2     0
mes_20    0
mes_21    0
mes_22    0
mes_23    0
mes_24    0
mes_3     0
mes_4     0
mes_5     0
mes_6     0
mes_7     0
mes_8     0
mes_9     0
dtype: int64

In [13]:
# 1)  Marcar default no mês
# Faça uma indicadora de se o cliente está em default em cada uma das marcações (mes_00 a mes_24). Dica: você pode utilizar o método .isin() do Pandas.

# default é aquele que está em 60 dias de atraso ou mais. Dessa forma, quem está em default são os que apresentam os valores '2', '3', '4', '5'
# Estão escritos como string porque o tipos dos dados estão em object

pg.isin(['2', '3', '4', '5'])

,ID,mes_0,mes_1,mes_10,mes_11,mes_12,mes_13,mes_14,mes_15,mes_16,...,mes_22,mes_23,mes_24,mes_3,mes_4,mes_5,mes_6,mes_7,mes_8,mes_9
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20932,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20933,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20934,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20935,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20936,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [20]:
# 2) 'bons' e 'maus' ao longo de todos os 24 meses de desempenho. Marque para cada cliente se ele teve pelo menos um episódio de default entre o mês 0 e o mês 24. Dica: o método sum() pode ajudar.
# Caso precise, consulte a documentação e procure pelo argumento axis, você viu outros métodos que possuem esse argumento também.
# Tendo o número de meses em default de cada cliente, basta marcar True para todos aqueles que possuem pelo menos 1 mês em default e False para os demais.

print(pg.isin(['2', '3', '4', '5']).any(axis=1))

0        False
1        False
2        False
3        False
4        False
         ...
20932    False
20933    False
20934    False
20935    False
20936    False
Length: 20937, dtype: bool

In [19]:
# Podemos ver quantos clientes estão com defaults apenas somando valores true

quantidade_default = pg.isin(['2', '3', '4', '5']).any(axis=1).sum()
print(f'Temos {quantidade_default} clientes com pelo menos um default' )

Temos 431 clientes com pelo menos um default

In [23]:
# 3) Marcando proponentes expostos ao risco de crédito
# Marcando proponentes que se tornaram tomadores: lembre-se de que clientes que não adquiriram o cartão devem ser desconsiderados.
# A base de pagamentos possui apenas clientes que adquiriram cartão de crédito, então você pode selecionar somente os clientes da base de propostas que se encontram na base de pagamentos.


# Vamos criar uma coluna Default para colocar os clientes que tiveram pelo menos um default

pg.loc[pg.eq('2').any(axis=1), 'default'] = True
pg.loc[pg.eq('3').any(axis=1), 'default'] = True
pg.loc[pg.eq('4').any(axis=1), 'default'] = True
pg.loc[pg.eq('5').any(axis=1), 'default'] = True

In [24]:
# Agora, vamos preencher todos os dados faltantes da coluna default com False

pg['default'].fillna(False, inplace=True)
pg.head()

,ID,mes_0,mes_1,mes_10,mes_11,mes_12,mes_13,mes_14,mes_15,mes_16,...,mes_23,mes_24,mes_3,mes_4,mes_5,mes_6,mes_7,mes_8,mes_9,default
0,5001718,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,False
1,5001719,0,0,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,False
2,5001720,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,False
3,5001723,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,False
4,5001726,0,0,C,C,C,C,C,C,C,...,C,C,0,0,0,C,C,C,C,False

In [25]:
# 4) Consolidando as informações
# Faça uma junção das informações da base de propostas com a variável de default que você acabou de construir.

# No passo 3 criei uma coluna default e agora eu vou juntar os dataframes. Pegar as colunas de interesse de propostas e juntas com a coluna default (é um avaliador do risco)

Propostas_mais_default = propostas.merge(pg, on='ID', how='inner')[['ID',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'FLAG_MOBIL',
 'FLAG_WORK_PHONE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'default']]

Propostas_mais_default.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,default
0,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474.0,-1134.0,1.0,0.0,0.0,0.0,Security staff,2.0,False
1,5008810,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110.0,-3051.0,1.0,0.0,1.0,1.0,Sales staff,1.0,False
2,5008811,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110.0,-3051.0,1.0,0.0,1.0,1.0,Sales staff,1.0,False
3,5112956,M,Y,Y,0,270000.0,Working,Higher education,Married,House / apartment,-16872.0,-769.0,1.0,1.0,1.0,1.0,Accountants,2.0,False
4,5008825,F,Y,N,0,130500.0,Working,Incomplete higher,Married,House / apartment,-10669.0,-1103.0,1.0,0.0,0.0,0.0,Accountants,2.0,False

In [27]:
# 5) Fazendo uma contagem dos valores do default que construi.

Propostas_mais_default['default'].value_counts()

False    5368
True       48
Name: default, dtype: int64

Explicando os valores acima.

**False** são os clientes que não tiveram default em seus dados, ou seja, é um cliente que não possui inadimplência, levado em consideração esta base de dados e contando acima de 60 dias sem pagar.

**True** de forma oposta, aqui temos os **clientes** que em algum mês tiveram ocorridos de inadimplência.

# Observação final

Note que de uma base de 5414 tivemos 48 defaults, ou seja, apenas 0,8 % da nossa base de dados